dev/Unibook/UniTestAcademic/Connected Services/ServiceReferencePublicationAcademicList/WebPublicationAcademicListServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Get">
        <s:complexType />
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:ArrayOfPublicationAcademicDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPublicationAcademicDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PublicationAcademicDto" nillable="true" type="tns:PublicationAcademicDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PublicationAcademicDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PublicationAcademicId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DatePublication" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryAcademic" type="tns:CategoryAcademicDto" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:UserDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoryAcademicDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CategoryAcademicId" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="tns:RoleDto" />
          <s:element minOccurs="0" maxOccurs="1" name="Person" type="tns:PersonDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoleDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDay" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="tns:GenderDto" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:UserDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GenderDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GenderId" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="WebPublicationAcademicListServicesSoap">
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebPublicationAcademicListServicesSoap" type="tns:WebPublicationAcademicListServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebPublicationAcademicListServicesSoap12" type="tns:WebPublicationAcademicListServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebPublicationAcademicListServices">
    <wsdl:port name="WebPublicationAcademicListServicesSoap" binding="tns:WebPublicationAcademicListServicesSoap">
      <soap:address location="http://localhost:51301/WebPublicationAcademicListServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WebPublicationAcademicListServicesSoap12" binding="tns:WebPublicationAcademicListServicesSoap12">
      <soap12:address location="http://localhost:51301/WebPublicationAcademicListServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>