App-Unibook-PrototypeMvc/ConsoleAppTest/Connected Services/WebPersonTypeListService/WebPersonTypeListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Get">
        <s:complexType />
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:ArrayOfPersonTypeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonTypeDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonTypeDto" nillable="true" type="tns:PersonTypeDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonTypeDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="WebPersonTypeListServiceSoap">
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebPersonTypeListServiceSoap" type="tns:WebPersonTypeListServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebPersonTypeListServiceSoap12" type="tns:WebPersonTypeListServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebPersonTypeListService">
    <wsdl:port name="WebPersonTypeListServiceSoap" binding="tns:WebPersonTypeListServiceSoap">
      <soap:address location="http://localhost:41142/WebPersonTypeListService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebPersonTypeListServiceSoap12" binding="tns:WebPersonTypeListServiceSoap12">
      <soap12:address location="http://localhost:41142/WebPersonTypeListService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>