App-Unibook-Prototype/ConsoleAppWebTestPeople/Connected Services/ServiceReferencePersonList/WebPersonListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Get">
        <s:complexType />
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:ArrayOfPersonDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonDto" nillable="true" type="tns:PersonDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonType" type="tns:PersonTypeDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonTypeDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="WebPersonListServiceSoap">
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebPersonListServiceSoap" type="tns:WebPersonListServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebPersonListServiceSoap12" type="tns:WebPersonListServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebPersonListService">
    <wsdl:port name="WebPersonListServiceSoap" binding="tns:WebPersonListServiceSoap">
      <soap:address location="http://localhost:41142/WebPersonListService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebPersonListServiceSoap12" binding="tns:WebPersonListServiceSoap12">
      <soap12:address location="http://localhost:41142/WebPersonListService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>